@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;

  --header-foreground: #474747;
  --main-color: #786C60;
  --secondary-color: #BFA87E;
  --hover-color: #E3D5BB;
  --hover-secondary-color: #808080;
  --main-background: #FBFAF5;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



h1 {
  font-size: 6em;
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 8px;
}

h2 {
  font-size: 3.7075em;
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 8px;
}

h3 {
  font-size: 2.29125em;
  line-height: 1.2;
  font-weight: 500;
  color: var(--header-foreground);
  margin-bottom: 16px;
}

p {
  font-size: 1.416em;
  line-height: 1.95;
  font-weight: 300;
  color: var(--header-foreground);
  margin-bottom: 24px;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 0.875em;
  font-weight: 500;
  color: var(--header-foreground);
}

.logo-header {
  width: 200px;
  cursor: pointer;
}

.navigation .logo-link {
  margin-left: 0;
}

.navigation .logo-link::after {
  width: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  position: relative;
  text-decoration: none;
  margin-left: 60px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--header-foreground);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header-action {
  display: flex;
  align-items: center;
}

.navigation-language-header {
  display: flex;
  margin-right: 42px;
  align-items: center;
  cursor: pointer;
}

.language-icon-header {
  width: 23px;
  margin-right: 10px;
  transform: translateX(47px);
  transition: transform 0.3s ease;
}

.language-icon-header.visible {
  transform: translateX(0);
}

.language-header-translation {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.language-header-translation.visible {
  opacity: 1;
}

.header-button {
  position: relative;
  font-size: 0.875em;
  font-weight: 500;
  color: var(--header-foreground);
  border: 1px solid var(--header-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: color 0.3s, border-color 1s;
}

.header-button:hover {
  border: 1px solid var(--hover-color);
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 186%;
  height: 240%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23E3D5BB" d="M0,32s39.775.6,75.395,42.423C147.979,149.589,240,203,360,202.7c120,.3,240-85.7,360-85.4,120-.3,240,85.7,360,96,120,10.7,219.494-50.144,271.254-111.849S1440,32,1440,32V733.2H0Z"></path></svg>') repeat-x;
  background-size: 50% 100%;
  transform: translateY(12px);
  animation: moveWave .5s linear infinite;
  transition: transform 1s;
  z-index: -1;
}

.header-button:hover::before {
  transform: translateY(-62px);
}

@keyframes moveWave {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.page-button {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  color: var(--header-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--secondary-color);
  transition: background-color 0.3s;
}

.page-button:hover {
  background-color: var(--hover-color);
}

.body-button {
  display: flex;
  align-items: center;
  font-size: 1.41625em;
  font-weight: 300;
  padding-bottom: 6px;
  color: var(--header-foreground);
  border-bottom: 1px solid var(--header-foreground);
  cursor: pointer;
  transition: color 0.3s ease;
}

.body-button:hover {
  color: var(--hover-secondary-color);
  border-bottom: 1px solid var(--hover-secondary-color);
}

.button-text {
  line-height: 0;
}

.arrow-icon {
  width: 20px;
  margin-left: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  image-rendering: crisp-edges;
}

.body-button:hover .arrow-icon {
  transform: rotate(90deg);
}

.section-home-hero {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../../public/Hero.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  overflow: hidden;
}

.hero-container {
  position: relative;
  top: 204px;
  margin-left: 65px;
  width: 764px;
}

.hero-paragraph__1 p {
  margin-bottom: 52px;
}

.section-home-emdr-explained {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--main-background);
}

.explained-container {
  margin-left: 65px;
  padding-top: 44px;
  padding-right: 16px;
  max-width: 860px;
}

.explanation-container {
  margin-bottom: 44px;
}

.explained-image {
  height: 100vh;
  min-width: 952px;
  background-image: url("../../public/Bonanza-H.png");
  background-size: cover;
  background-position: center;
  margin-left: auto;
}