@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;

  --header-foreground: #474747;
  --main-color: #786C60;
  --hover-color: #E3D5BB;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



h1 {
  font-size: 6em;
  font-weight: 500;
  color: var(--main-color);
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 0.875em;
  font-weight: 500;
  color: var(--header-foreground);
}

.logo-header {
  height: 4em;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  position: relative;
  text-decoration: none;
  margin-left: 60px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--header-foreground);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header-action {
  display: flex;
  align-items: center;
}

.navigation-language-header {
  display: flex;
  margin-right: 42px;
  align-items: center;
  cursor: pointer;
}

.language-icon-header {
  width: 23px;
  margin-right: 10px;
  transform: translateX(47px);
  transition: transform 0.3s ease;
}

.language-icon-header.visible {
  transform: translateX(0);
}

.language-header-translation {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.language-header-translation.visible {
  opacity: 1;
}



.header-button {
  position: relative;
  border: 1px solid var(--header-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: color 0.3s, border-color 1s;
}

.header-button:hover {
  border: 1px solid var(--hover-color);
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 186%;
  height: 240%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23E3D5BB" d="M0,32s39.775.6,75.395,42.423C147.979,149.589,240,203,360,202.7c120,.3,240-85.7,360-85.4,120-.3,240,85.7,360,96,120,10.7,219.494-50.144,271.254-111.849S1440,32,1440,32V733.2H0Z"></path></svg>') repeat-x;
  background-size: 50% 100%;
  transform: translateY(12px);
  animation: moveWave .5s linear infinite;
  transition: transform 1s;
  z-index: -1;
}

.header-button:hover::before {
  transform: translateY(-66px);
}

@keyframes moveWave {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.section-home-hero {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../../public/Hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hero-container {
  position: fixed;
  top: 170px;
}