@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;

  /* font size */
  --font-xxxs: 0.334em; /*5.35pt*/
  --font-xxs: 0.541em; /*8.65pt*/
  --font-xs: 0.875em; /*14pt*/
  --font-mobile-sm: 1.2em;
  --font-sm: 1.416em; /*22.66pt*/
  --font-med: 2.291em; /*36.66pt*/
  --font-lg: 3.708em; /*59.32pt*/
  --font-xl: 6em; /*95.98pt*/
  --font-xxl: 9.706em; /*155.29pt*/
  --font-xxxl: 15.704em; /*251.26pt*/

  /* colors */
  --main-foreground: #474747;
  --main-color: #786C60;
  --main-color-dark: #483F3C;
  --secondary-color: #BFA87E;
  --hover-color: #E3D5BB;
  --hover-secondary-color: #808080;
  --main-background: #FBFAF5;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: var(--font-med);
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 8px;
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--font-lg);
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: var(--font-xl);
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 8px;
  }
}

h2 {
  font-size: var(--font-med);
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 8px;
}

@media (min-width: 1600px) {
  h2 {
    font-size: 3.7075em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 8px;
  }
}

h3 {
  font-size: var(--font-sm);
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-foreground);
  margin-bottom: 8px;
}

@media (min-width: 1600px) {
  h3 {
    font-size: 2.29125em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-foreground);
    margin-bottom: 16px;
  }
}

p {
  font-size: var(--font-xs);
  line-height: 1.5;
  font-weight: 300;
  color: var(--main-foreground);
  margin-bottom: 24px;
}

@media (min-width: 800px) {
  p {
    font-size: var(--font-mobile-sm);
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 1.416em;
    line-height: 1.95;
    font-weight: 300;
    color: var(--main-foreground);
    margin-bottom: 24px;
  }
}

em {
  font-weight: 500;
  font-style: normal;
}

.screen_reader_title {
  display: block;
  margin: 0!important;
  padding: 0!important;
  text-indent: -9999px;
  width: 0!important;
  overflow:hidden;
}

.plist {
  margin-bottom: 12px;
}

.pattern {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 44px;
  opacity: 75%;
}

@media (min-width: 1025px) {
  .pattern {
    display: none;
  }
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 0.875em;
  font-weight: 500;
  color: var(--main-foreground);
  transition: top 0.3s;
}

.app-header.hidden {
  top: -100px;
}

.mobile-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  z-index: 99;
  transition: top 0.3s;
}

.mobile-header.hidden {
  top: -100px;
}

.mobile-header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mobile-header-right {
  display: flex;
  align-items: center;
}

.language-text {
  font-size: var(--font-xs);
}

/* Mobile Menu Button */
.menu-icon-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.line-horizontal {
  width: 100%;
  height: 2px;
  background-color: #474747;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
}

.line-horizontal._01 {
  height: 2px;
  top: -4px;
}

.line-horizontal._02 {
  width: 60%;
  height: 2px;
  top: 4px;
  margin-left: auto;
}

.line-horizontal._03 {
  height: 2px;
  top: 2px;
  transform: rotate(45deg);
}

.line-horizontal._04 {
  height: 2px;
  top: 0;
  transform: rotate(-45deg);
}

.logo-header {
  width: 200px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .logo-header {
    width: 200px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.mobile-menu.menu-open {
  transform: translateY(0);
}

.mobile-menu-header {
  margin-left: auto;
  padding-right: 30px;
  padding-top: 24px;
}

.logo-container {
  display: flex;
  padding-bottom: 2em;
}

.logo-menu {
  width: 80%;
}

.innermenu {
  padding: calc(9.33333333vw) calc(6.66666667vw) calc(6.66666667vw) calc(6.66666667vw);
  overflow: scroll;
}

.mobile-navigation {
  display: flex;
}

.mobile-navigation a {
  width: 100%;
}

.mobile-menu-lang-box {
  padding: calc(6.66666667vw) 0 0 0;
  display: block;
  position: relative;
  text-align: left;
}

.mobile-menu-lang-box__footer li {
  padding: 1em calc(5.33333333vw) 0 0;
  display: inline-block;
}

.mobile-menu-lang-box li {
  padding: 0 calc(5.33333333vw) 0 0;
  display: inline-block;
}

.mobile-menu-lang-box li a {
  font-size: calc(4.26666667vw);
  font-weight: 300;
}

html[lang="en"] .lang-en a,
html[lang="es"] .lang-es a {
  font-weight: 700;
}

.navigation .logo-link {
  margin-left: 0;
}

.navigation .logo-link::after {
  width: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  position: relative;
  text-decoration: none;
  margin-left: 60px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--main-foreground);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}



.header-action {
  display: flex;
  align-items: center;
}



.navigation-language-header {
  display: flex;
  margin-right: 42px;
  align-items: center;
  cursor: pointer;
}

.language-header {
  display: flex;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;
}

.language-icon {
  width: 23px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

@media (min-width: 1024px) {
  .language-icon-header {
    width: 23px;
    margin-right: 10px;
    transform: translateX(47px);
    transition: transform 0.3s ease;
  }
}

.language-icon-header.visible {
  transform: translateX(0);
}

.language-header-translation {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.language-header-translation.visible {
  opacity: 1;
}

.header-button {
  position: relative;
  font-size: 0.875em;
  font-weight: 500;
  color: var(--main-foreground);
  border: 1px solid var(--main-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: color 0.3s, border-color 1s;
}

.header-button:hover {
  border: 1px solid var(--hover-color);
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 186%;
  height: 240%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23E3D5BB" d="M0,32s39.775.6,75.395,42.423C147.979,149.589,240,203,360,202.7c120,.3,240-85.7,360-85.4,120-.3,240,85.7,360,96,120,10.7,219.494-50.144,271.254-111.849S1440,32,1440,32V733.2H0Z"></path></svg>') repeat-x;
  background-size: 50% 100%;
  transform: translateY(12px);
  animation: moveWave .5s linear infinite;
  transition: transform 1s;
  z-index: -1;
}

.header-button:hover::before {
  transform: translateY(-62px);
}

@keyframes moveWave {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}


/*  ##################################
    Content Buttons
    ##################################
 */
.mobile-button {
  position: relative;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--main-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  margin-top: calc(5.33333333vw);
  cursor: pointer;
  overflow: hidden;
  background-color: #dacaa9;
}

.page-button {
  position: relative;
  font-size: var(--font-xs);
  font-weight: 500;
  color: var(--main-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  margin-bottom: 44px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--secondary-color);
  transition: background-color 0.3s;
}

@media (min-width: 1920px) {
  .page-button {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    color: var(--main-foreground);
    border-radius: 50px;
    padding: 13px 26px;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: background-color 0.3s;
  }
}

.page-button:hover {
  background-color: var(--hover-color);
}

.body-button {
  display: flex;
  align-items: center;
  font-size: 1.41625em;
  font-weight: 300;
  padding-bottom: 6px;
  margin-bottom: 2em;
  color: var(--main-foreground);
  border-bottom: 1px solid var(--main-foreground);
  cursor: pointer;
  transition: color 0.3s ease;
}

.body-button:hover {
  color: var(--hover-secondary-color);
  border-bottom: 1px solid var(--hover-secondary-color);
}

.button-text {
  line-height: 0;
}

.arrow-icon {
  width: 20px;
  margin-left: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  image-rendering: crisp-edges;
}

.body-button:hover .arrow-icon {
  transform: rotate(90deg);
}


/*  ##################################
    Content
    ##################################
 */
.section-hero {
  display: flex;
  height: 43vh;
  width: 100%;
  background-image: url("../../public/hero-mobile.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .section-hero {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: url("../../public/hero-desktop.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }
}

.section-services {
  display: flex;
  height: 43vh;
  width: 100%;
  background-image: url("../../public/Bonanza-G.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .section-services {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: url("../../public/Bonanza-G.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }
}

.below-hero {
  display: flex;
  min-height: 57vh;
  background-color: var(--main-background);
  align-items: center;
}

.container__hero {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15% 0;
  width: 100%;
  max-width: 475px;
}

@media (min-width: 800px) {
  .container__hero {
    max-width: 860px;
  }
}

@media (min-width: 1025px) {
  .container__hero {
    margin-right: auto;
    padding: 0;
    margin-top: 204px;
    margin-left: 65px;
    max-width: 764px;
  }
}

.container__hero .page-button {
  margin-bottom: 0;
}

.title__hero {
  max-width: 292px;
}

@media (min-width: 800px) {
  .title__hero {
    max-width: 600px;
  }
}

@media (min-width: 1025px) {
  .title__hero{
    max-width: 764px;
  }
}

.container__services {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 5% 10%;
  width: 100%;
  max-width: 475px;
}

.container__services::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
}

@media (min-width: 1025px) {
  .container__services {
    margin-right: auto;
    padding: 5% 0;
    margin-top: auto;
    margin-left: 65px;
    max-width: 80%;
  }

  .container__services::after {
    height: 3px;
  }
}

.title__services h1 {
  color: white;
  font-size: var(--font-lg);
  margin: 0;
}

.title__services {
  max-width: 292px;
}

@media (min-width: 1025px) {
  .title__services h1 {
    font-size: var(--font-xxl);
  }

  .title__services{
    max-width: 764px;
  }
}

.paragraph__hero__1 p {
  margin-bottom: 20px;
  max-width: 600px;
}

@media (min-width: 1025px) {
  .paragraph__hero__1 p {
    margin-bottom: 52px;
    max-width: 764px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--main-background);
  overflow: hidden;
}

@media (min-width: 1025px) {
  .section {
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
  }
}

@media (min-width: 1025px) {
  .section-why {
    align-content: space-between;
  }
}

@media (min-width: 1025px) {
  .section-emdr-explained {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--main-background);
    overflow: hidden;
  }
}

@media (min-width: 1025px) {
  .section-affordable, .section-easy {
    flex-direction: row-reverse;
  }
}

.container__explained {
  margin-left: 10%;
  padding-top: 22px;
  padding-right: 10%;
  max-width: 860px;
}

@media (min-width: 1025px) {
  .container__explained {
    padding-right: 0;
    padding-left: 65px;
    padding-top: 44px;
    margin-right: 62px;
    margin-left: auto;
    max-width: 1041px;
  }

  .container__explained.easy, .container__explained.flexible {
    display: flex;
    align-items: center;
  }

  .section-faq, .section-ready {
    min-height: auto;
    align-items: center;
  }

  .faq {
    margin-left: 0;
    margin-right: auto;
    width: 50%;
  }

  .section-flexible .image__explained, .section-luna .image__explained {
    width: auto;
  }

  .section-flexible .container__explained, .section-luna .container__explained {
    margin-left: 0;
  }
}

.explanation__first {
  margin-top: 44px;
  margin-bottom: 44px;
}

.explanation {
  margin-bottom: 44px;
}

.image__explained {
  display: flex;
  min-height: 50vh;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .image__explained {
    height: auto;
    width: 50%;
    margin-left: auto;
  }
}

.image__giannina {
  display: flex;
  min-height: 54vh;
  margin-bottom: 16px;
  margin-top: 16px;
}

@media (min-width: 1025px) {
  .image__giannina {
    margin: 0;
    height: 100%;
    min-width: 750px;
  }

  .image__giannina img {
    width: 100%;
    height: auto;
  }
}

.image__explained img {
  object-fit: cover;
}

.image__giannina img {
  object-fit: cover;
}

.container__questions {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  .container__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    max-width: 100%;
    margin-bottom: 44px;
    align-items: center;
    justify-items: center;
  }

  .container.question.question {
    padding: 100px 36px;
    margin: 0;
  }

  .container.question.question h3 {
    font-size: var(--font-sm);
  }

  .container.question.question p {
    font-size: var(--font-sm);
  }
}

.container.question {
  background-color: white;
  margin: 30px;
  padding: 80px 36px;
  text-align: center;
}

.container.question h3 {
  font-size: 1.1em;
}

.container.question p {
  font-size: 1.1em;
}

.footer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr 1fr 1.5fr .1fr;
  grid-template-areas:
          "area1 area2 area3"
          "area4 menu lang"
          "area7 area8 area9"
          "end end end";
  gap: 1em;
  min-height: 33vh;
  overflow-wrap: normal;
  background-color: #1C1C1C;
}

.mobile-menu-lang-box__footer {
  grid-area: lang;
  padding: 0 0 0 0;
  display: flex;
  position: relative;
  justify-content: flex-end;
  color: white;
}

.footer-menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
}

.menu-list__footer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.logo__footer {
  grid-area: area9;
  display: flex;
  align-items: center;
  z-index: 2;
}

.logo__background {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 60%;
  background-image: url("../../public/bonanza-vertical-combination-mark.svg");
  background-size: 600%;
  background-repeat: no-repeat;
  background-position-x: -580px;
  background-position-y: -180px;
  z-index: 1;
}

@media (min-width: 360px) {
  .logo__background {
    background-position-x: -650px;
    background-position-y: -180px;
  }
}

@media (min-width: 375px) {
  .logo__background {
    background-position-x: -680px;
    background-position-y: -180px;
  }
}

@media (min-width: 411px) {
  .logo__background {
    background-position-x: -745px;
    background-position-y: -250px;
  }
}

@media (min-width: 428px) {
  .logo__background {
    background-position-x: -770px;
    background-position-y: -250px;
  }
}

@media (min-width: 800px) {
  .logo__background {
    height: 70%;
    width: 50%;
    background-size: 450%;
    background-position-x: -900px;
    background-position-y: -300px;
  }
}

@media (min-width: 810px) {
  .logo__background {
    background-position-x: -910px;
  }
}

@media (min-width: 1920px) {
  .logo__background {
    height: 80%;
    width: 30%;
    background-size: 450%;
    background-position-x: -1295px;
    background-position-y: -420px;
  }
}

.logo-vert {
  fill: white;
  width: 12em;
}

.other-list__footer {
  grid-area: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  font-size: .8em;
  font-weight: 900;
  color: white;
  z-index: 2;
}

.other-list__footer li:not(:last-child) {
  padding-bottom: 1em;
}

@media (min-width: 411px) {
  .other-list__footer {
    flex-direction: row;
  }

  .other-list__footer li:not(:last-child) {
    padding-bottom: 0;
  }
}

.menu-list__footer h2 {
  color: white;
  font-size: var(--font-sm);
}

details {
  display: block;
}

summary {
  display: list-item;
}

.accordion {
  position: relative;
}

.accordion-list_item {

}

.accordion_summary {
  position: relative;
  cursor: pointer;
  clip-path: inset(-1px -10px);
}

.accordion-list_item:last-child .accordion::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: top left;
}

.accordion-list_item:last-child .accordion.is-active::before {
  bottom: -24px;
}

.accordion_summary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: top left;
  transform: scaleZ(1);
  transition: transform .9s cubic-bezier(.165, .84, .44, 1) .2s, opacity .45s cubic-bezier(.23,1,.32,1), background-color .3s;
}

.accordion_summary:hover::after {
  background-color: var(--main-background);
}

.accordion_summary::marker {
  content: none;
}

.accordion_summary_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transform: translateZ(0);
  transition-delay: .2s;
  transition: transform .9s cubic-bezier(.23,1,.32,1);
}

.accordion_summary_inner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main-foreground);
  clip-path: inset(100% 0 0 0 round 5px 5px 0 0);
  z-index: -1;
  transition: clip-path .45s cubic-bezier(.23,1,.32,1);
}


.accordion_summary_inner:hover::before {
  clip-path: inset(0 0 0 0 round 5px 5px 0 0);
}


.accordion_summary_inner:hover .accordion_title {
  color: var(--main-background);
  translate: 1.5em;
}

.accordion_title {
  transition: translate .45s cubic-bezier(.23,1,.32,1), color .3s;
  max-width: 65%;
}

.accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 2rem;
  transition-property: rotate, translate, color;
  transition-duration: .45s;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.accordion_icon::after {
  rotate: -90deg;
}

.accordion_icon::before, .accordion_icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.accordion_icon::before {
  /*transform-origin: top left;*/
  transition: transform .45s cubic-bezier(.23,1,.32,1);
}

.accordion.is-active .accordion_icon::before {
  transform-origin: top right;
  transform: scale3d(0,1,1);
}

.accordion.is-active .accordion_icon {
  rotate: -90deg;
}

.accordion_summary:hover .accordion_icon {
  color: var(--main-background);
  translate: -1.5em;
}

.accordion_content {
  padding-top: 5%;
}


/*About Page*/
.section-other .container__explained {
  padding-top: 55px;
}

h4 {
  color: var(--main-foreground);
}
h4::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--main-foreground);
  margin-top: 10px;
  margin-bottom: 30px;
}

/*Contact Page*/
.section-other h1, .section-other h3 {
  color: var(--main-foreground);
}

.section-other h3 {
  font-size: var(--font-xs);
  font-weight: 300;
}
input, select, textarea {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  min-inline-size: 100%;
}

.el-input--content {
  border-bottom: 1px solid var(--main-foreground);
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.form-wrapper {
  width: 80%;
}

.t-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.t-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.t-cell:last-of-type {
  flex-grow: 1;
  padding-right: 0;
}

.t-cell:first-of-type {
  padding-left: 0;
}

.el-group {
  margin-bottom: 30px;
}

/*Services*/
.services-content {
  display: flex;
  flex-direction: column;
  min-height: 33vh;
  padding-top: 44px;
}

.container__infobox {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.number::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--main-foreground);
  margin-bottom: .2em;
}

.number {
  font-weight: 300;
  font-size: var(--font-sm);
  color: var(--main-foreground);
  width: 100%;
  margin-bottom: .5em;
}

.infobox-title {
  font-weight: 500;
  font-size: var(--font-lg);
  color: var(--main-foreground);
  margin-bottom: .2em;
}

.infobox-subtitle {
  font-size: var(--font-sm);
  color: var(--main-foreground);
  line-height: 1.4;
  margin-bottom: 1em;
}

.infobox-subtitle.no-margin {
  margin: 0;
}

.infobox-heading {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--main-foreground);
}

.infobox-heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--main-foreground);
  margin-top: .3em;
  margin-bottom: 1em;
}

.infobox-paragraph li {
  font-size: var(--font-mobile-sm);
  color: var(--main-foreground);
  line-height: 2;
}

.infobox-paragraph li:last-child {
  margin-bottom: 1em;
}

.infobox-paragraph p {
  font-size: var(--font-mobile-sm);
}

.infobox-paragraph p:last-child {
  margin-bottom: 2em;
}

.minimal-button {
  position: relative;
  font-size: var(--font-mobile-sm);
  font-weight: 500;
  color: var(--main-foreground);
  border-radius: 50px;
  padding: 13px 26px;
  margin-bottom: 44px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid var(--main-foreground);
  transition: background-color .3s;
}

.minimal-button:hover {
  background-color: var(--main-foreground);
  color: var(--main-background);
}